<nav>
    <div class="logo">
        <img style="width: 214px;" src="../assets/WhatsApp Image 2024-12-21 at 00.32.03_b333fc38.jpg" alt="">
    </div>
    <ul class="navItems">
        <li> <a href="">home</a></li>
        <li> <a href="">About</a></li>
        <li> <a href="">Skills</a></li>
        <li> <a href="">blog</a></li>
    </ul>
</nav>

<div class="container">
 

    <div class="wrapper">
        <div class="cols cols0">
            <span class="topline">Hello</span>
            <h1 id="heading">Antthing for <span #typedElement class="multiText"></span></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic rem corporis, dolorem molestiae soluta
                at animi dolore! Fugiat, modi quidem rem quaerat, deleniti laudantium tempora libero eaque quo iusto
                adipisci.</p>

            <div class="btns">
                <button>download CV</button>
                <button>hire me</button>
            </div>
        </div>

        <div class="cols cols1">
            <div class="imgbox">
                <img src="../assets/images/vic3.png">
            </div>
        </div>
    </div>

   
</div>

 <!-- Sections -->
 <section id="home" class="section">
    <h2>Welcome to My Website</h2>
    <!-- <p>This is the home section.</p> -->
</section>

<section id="services" class="section">
    <h2>Our Services</h2>
    <!-- <p>Details about the services offered go here.</p> -->
</section>

<section id="about" class="section">
    <h2>About Us</h2>
    <!-- <p>Information about the company or person goes here.</p> -->
</section>

<section id="contact" class="section">
    <h2>Contact Us</h2>
    <!-- <p>Contact information goes here.</p> -->
</section>